.login-logo{
    font-family: "Michroma", sans-serif;
    font-size: 2rem;
    color: white;
    
}
.theme-text{
    color: #8e85f2;

}


// Michroma font for purple text
.login-logo .theme-text,
.text-primary {
  font-family: "Michroma", sans-serif;
}
